<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Playlist</title>

    <style>
      ul {
        column-count: 1; /* Set the initial column count to 1 */
      }
      #loading-message {
            display: none;
            color: red;
      }
    @media screen and (min-width: 600px) {
      /* Adjust the column count for larger screens */
      ul {
        column-count: 3;
      }
    }
    </style>
</head>
<body>
    <h1>Create Playlist</h1>
    <form method="post" onsubmit="showLoadingMessage()">
        <label for="playlist_name">Playlist Name (required):</label>
        <input type="text" id="playlist_name" name="playlist_name" required><br>

        <label for="playlist_description">Description:</label>
        <input type="text" id="playlist_description" name="playlist_description"><br>

        <label for="playlist_visibility">Visibility:</label>
        <select id="playlist_visibility" name="playlist_visibility">
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select><br>

        <h2>Selected Songs:</h2>
        <ul>
          {% for track in selected_tracks %}
              <li>{{ track }}</li>
          {% endfor %}
        </ul>

        <button id='submit-button' type="submit">Create Playlist</button>
        <p id="loading-message">Creating Playlist (this may take a while)...</p>
    </form>
    <a href="{{ url_for('playlists') }}"><button>Back to Playlists</button></a>
    <a href="{{ url_for('index') }}"><button>Back to Home</button></a>

    <script>
      function showLoadingMessage() {
          // Display the loading message when the Sad button is clicked
          document.getElementById('loading-message').style.display = 'block';

          // Disable the Sad button to prevent multiple clicks
          document.getElementById('submit-button').setAttribute('disabled', 'true');
      }
    </script>
</body>
</html>
