<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Seed Songs</title>

    <style>
        p {
            color: red;
        }
        #loading-message {
            display: none;
            color: red;
        }
    </style>
</head>
<body>
    <h1>Enter up to 5 Seed Songs</h1>
    
    {% if error %}
        <p>Please enter valid song names and artists</p>
    {% endif %}
    <form action="/enter_seeds" method="post" onsubmit="showLoadingMessage()">
        <div>
            <label for="song1">Song 1:</label>
            <input type="text" id="song1" name="song1" required>
            <label for="artist1">Artist 1:</label>
            <input type="text" id="artist1" name="artist1" required>
        </div>

        <div>
            <label for="song2">Song 2:</label>
            <input type="text" id="song2" name="song2">
            <label for="artist2">Artist 2:</label>
            <input type="text" id="artist2" name="artist2">
        </div>

        <div>
            <label for="song3">Song 3:</label>
            <input type="text" id="song3" name="song3">
            <label for="artist3">Artist 3:</label>
            <input type="text" id="artist3" name="artist3">
        </div>

        <div>
            <label for="song3">Song 4:</label>
            <input type="text" id="song4" name="song4">
            <label for="artist3">Artist 4:</label>
            <input type="text" id="artist4" name="artist4">
        </div>

        <div>
            <label for="song3">Song 5:</label>
            <input type="text" id="song5" name="song5">
            <label for="artist3">Artist 5:</label>
            <input type="text" id="artist5" name="artist5">
        </div>

        <label for="num_songs">Number of Similar Songs (1-100):</label>
        <input type="number" id="num_songs" name="num_songs" min="1" max="100">

        <button id='submit-button' type="submit">Find Similar Songs</button>
        <p id="loading-message">Loading Songs (this may take a while)...</p>
    </form>

    <a href="/"><button>Back to Home</button></a>

    <script>
        function showLoadingMessage() {
            // Display the loading message when the Sad button is clicked
            document.getElementById('loading-message').style.display = 'block';

            // Disable the Sad button to prevent multiple clicks
            document.getElementById('submit-button').setAttribute('disabled', 'true');
        }
    </script>
</body>
</html>
