<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Info</title>
</head>
<body>
    <h1>Playlist Info</h1>
    <p>Name: {{ playlist['name'] }}</p>
    <p>Owner: {{ playlist['owner']['display_name'] }}</p>
    <p>Number of Tracks: {{ playlist['tracks']['total'] }}</p>

    <a href="{{ url_for('playlist_sad', playlist_id=playlist['id']) }}"><button>Sad</button></a>
    
    <a href="{{ url_for('playlists') }}"><button>Back to Playlists</button></a>
    <a href="{{ url_for('index') }}"><button>Back to Home</button></a>
</body>
</html>