<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Created</title>
    <style>
      h1 {
        color: green;
      }
    </style>
</head>
<body>
    <h1>Playlist Created Successfully</h1>
    <h2>Playlist Info</h2>
    <p>Name: {{ playlist['name'] }}</p>
    <p>Owner: {{ playlist['owner']['display_name'] }}</p>
    <p>Number of Songs: {{ playlist['tracks']['total'] }}</p>
    <a href="{{ url_for('index') }}"><button>Back to Home</button></a>
</body>
</html>
